---
import type { Server } from '../types/'; 
import {
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table.tsx"; 


interface Props {
  servers: Server[];
}

const { servers } = Astro.props as Props;
---

<Table>
  <TableCaption>A list of Quake Live servers.</TableCaption>
  <TableHeader>
    <TableRow>
      <TableHead className="w-[200px]">Server Name</TableHead>
      <TableHead>IP Address</TableHead>
      <TableHead>Players</TableHead>
      <TableHead className="text-right">Max Players</TableHead>
    </TableRow>
  </TableHeader>
  <TableBody>
    {servers.map((server: Server) => (
      <TableRow key={server.addr}>
        <TableCell className="font-medium">{server.name}</TableCell>
        <TableCell>{server.addr}</TableCell>
        <TableCell>{server.players}</TableCell>
        <TableCell className="text-right">{server.max_players}</TableCell>
      </TableRow>
    ))}
  </TableBody>
</Table>
